#SerialNumber = 470010916
# On this labjack valve 3 does NOT power relay
#Configuration
# CH   TYPE	Name	Enabled (1=yes,0=no)
   1,	0,	Det3B,		1
   2,	1,	VentB,		1
   3,	2,	ManifoldB,	0
   4,	2,	Det4B,		1
   5,	2,	Det7B,		1
   6,	2,	Det1B,		1
   7,	2,	Det8B,		1
   8,	2,	Det5B,		1
   9,	2,	Det6B,		1
  10,	2,	Det2B,		1
  11,	2,	Aux1B,		0
  12,	2,	Aux2B,		0
# Type=0 - Manifold, Type=1 - Vent, Type=2 - Detector
  
