#SerialNumber = 470010276
#Configuration
# CH   TYPE	Name	Enabled (1=yes,0=no)
   1,	0,	ManifA,	        0
   2,	1,	VentA,		1
   3,	2,	Det1A,		1
   4,	2,	Det2A,		1
   5,	2,	Det3A,		1
   6,	2,	Det4A,		1
   7,	2,	Det5A,		1
   8,	2,	Det6A,		1
   9,	2,	Det7A,		1
  10,	2,	Det8A,		1
  11,	2,	Aux1A,		0
  12,	2,	Aux2A,		0
# Type=0 - Manifold, Type=1 - Vent, Type=2 - Detector

