# This is a dummy config file
#SerialNumber = 470010916
# On this labjack valve 3 does NOT power relay
#Configuration
# CH   TYPE	Name	Enabled (1=yes,0=no)
   1,	2,	Det3B,		1
   2,	2,	Aux,		0
   3,	0,	ManifoldB,	0
   4,	2,	Det4B,		0
   5,	2,	Det7B,		0
   6,	2,	Det1B,		0
   7,	2,	Det8B,		0
   8,	2,	Det5B,		0
   9,	2,	Det6B,		0
  10,	2,	Det2B,		0
  11,	2,	Aux1,		0
  12,	1,	Vent,		1
# Type=0 - Manifold, Type=1 - Vent, Type=2 - Detector
  
