!DOCTYPE html>
<html>

<link rel="stylesheet" type="text/css" href="/static/lnmain/lnmain.css" />




<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<script src="//code.jquery.com/jquery.min.js"></script><script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>






    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>LNMain</title>
        <style>
           a.test {
               font-weight: bold;
               color: red;
           }
        </style>
    </head>

    <body>


    <div class="container">

      <!-- This is the logo. Class definition in lnmain.css -->

      <div class="logo">
         <a href="http://www.anl.gov/"><img
            src="/static/lnmain/argonne_header_logo.jpg"
            alt="[Argonne Logo]" align="left" border="0" /></a>
         <a href="http://www.phy.anl.gov/"><img
  	    src="/static/lnmain/CAGRA_image.png"
	    alt="[Cagra Logo]" height="100"  border="0" align="right" /></a>
         <div class="logoright">
            <a href="/lnmain/index/">LN Auto-Fill Application</a>
         </div>
      </div>

      <!-- These are the menus. -->

      <ul class="nav nav-tabs">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Menu 1</a></li>
        <li><a href="#">Menu 2</a></li>
        <li><a href="#">Menu 3</a></li>
      </ul>

      <!-- Here is where the page specific content is inserted -->

      <div class="row">
        <div class="col-md-12">

        
    
        <div align="middle">
        <h2>LNFillController Configurations</h2>
        </div>
        <ul>
        
           <h4> LNFill Controller 470010276</h4>
           <div class="center-block">
           <table style="width:70%" class="table table-striped">
             <thead>
                <tr >
                  <th class="text-center">Channel</th>
                  <th class="text-center">Type</th>
                  <th class="text-center">Name</th>
                  <th class="text-center">Enable/Disable</th>
                </tr>
             </thead>
             <tbody>
              
                
                    <tr align="center">
                      <td> <a href="/lnmain/modelform/15/">
                           1</a></td>
                      <td>Manifold</td>
                      <td>Manifold A</td>
                      <td>Disable</td>
                    </tr>
                
              
                
                    <tr align="center">
                      <td> <a href="/lnmain/modelform/16/">
                           2</a></td>
                      <td>Vent</td>
                      <td>VentA</td>
                      <td>Enable</td>
                    </tr>
                
              
                
                    <tr align="center">
                      <td> <a href="/lnmain/modelform/17/">
                           3</a></td>
                      <td>Detector</td>
                      <td>Det1A</td>
                      <td>Enable</td>
                    </tr>
                
              
                
                    <tr align="center">
                      <td> <a href="/lnmain/modelform/18/">
                           4</a></td>
                      <td>Detector</td>
                      <td>Det2A</td>
                      <td>Enable</td>
                    </tr>
                
              
                
                    <tr align="center">
                      <td> <a href="/lnmain/modelform/19/">
                           5</a></td>
                      <td>Detector</td>
                      <td>Det3A</td>
                      <td>Enable</td>
                    </tr>
                
              
                
                    <tr align="center">
                      <td> <a href="/lnmain/modelform/20/">
                           6</a></td>
                      <td>Detector</td>
                      <td>Det4A</td>
                      <td>Enable</td>
                    </tr>
                
              
                
                    <tr align="center">
                      <td> <a href="/lnmain/modelform/21/">
                           7</a></td>
                      <td>Detector</td>
                      <td>Det5A</td>
                      <td>Enable</td>
                    </tr>
                
              
                
                    <tr align="center">
                      <td> <a href="/lnmain/modelform/22/">
                           8</a></td>
                      <td>Detector</td>
                      <td>Det6A</td>
                      <td>Enable</td>
                    </tr>
                
              
                
                    <tr align="center">
                      <td> <a href="/lnmain/modelform/23/">
                           9</a></td>
                      <td>Detector</td>
                      <td>Det7A</td>
                      <td>Enable</td>
                    </tr>
                
              
                
                    <tr align="center">
                      <td> <a href="/lnmain/modelform/24/">
                           10</a></td>
                      <td>Detector</td>
                      <td>Det8A</td>
                      <td>Enable</td>
                    </tr>
                
              
                
                    <tr align="center">
                      <td> <a href="/lnmain/modelform/25/">
                           11</a></td>
                      <td>Detector</td>
                      <td>Aux1A</td>
                      <td>Disable</td>
                    </tr>
                
              
                
                    <tr align="center">
                      <td> <a href="/lnmain/modelform/26/">
                           12</a></td>
                      <td>Detector</td>
                      <td>Aux2A</td>
                      <td>Disable</td>
                    </tr>
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
             
             </tbody>
           </table>
           </div>
           <br>
        
           <h4> LNFill Controller 470010916</h4>
           <div class="center-block">
           <table style="width:70%" class="table table-striped">
             <thead>
                <tr >
                  <th class="text-center">Channel</th>
                  <th class="text-center">Type</th>
                  <th class="text-center">Name</th>
                  <th class="text-center">Enable/Disable</th>
                </tr>
             </thead>
             <tbody>
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
                    <tr align="center">
                      <td> <a href="/lnmain/modelform/27/">
                           1</a></td>
                      <td>Manifold</td>
                      <td>Manifold B</td>
                      <td>Disable</td>
                    </tr>
                
              
                
                    <tr align="center">
                      <td> <a href="/lnmain/modelform/28/">
                           2</a></td>
                      <td>Vent</td>
                      <td>VentB</td>
                      <td>Enable</td>
                    </tr>
                
              
                
                    <tr align="center">
                      <td> <a href="/lnmain/modelform/29/">
                           3</a></td>
                      <td>Detector</td>
                      <td>Det1B</td>
                      <td>Enable</td>
                    </tr>
                
              
                
                    <tr align="center">
                      <td> <a href="/lnmain/modelform/30/">
                           4</a></td>
                      <td>Detector</td>
                      <td>Det2B</td>
                      <td>Enable</td>
                    </tr>
                
              
                
                    <tr align="center">
                      <td> <a href="/lnmain/modelform/31/">
                           5</a></td>
                      <td>Detector</td>
                      <td>Det3B</td>
                      <td>Enable</td>
                    </tr>
                
              
                
                    <tr align="center">
                      <td> <a href="/lnmain/modelform/32/">
                           6</a></td>
                      <td>Detector</td>
                      <td>Det4B</td>
                      <td>Enable</td>
                    </tr>
                
              
                
                    <tr align="center">
                      <td> <a href="/lnmain/modelform/33/">
                           7</a></td>
                      <td>Detector</td>
                      <td>Det5B</td>
                      <td>Enable</td>
                    </tr>
                
              
                
                    <tr align="center">
                      <td> <a href="/lnmain/modelform/34/">
                           8</a></td>
                      <td>Detector</td>
                      <td>Det6B</td>
                      <td>Enable</td>
                    </tr>
                
              
                
                    <tr align="center">
                      <td> <a href="/lnmain/modelform/35/">
                           9</a></td>
                      <td>Detector</td>
                      <td>Det7B</td>
                      <td>Enable</td>
                    </tr>
                
              
                
                    <tr align="center">
                      <td> <a href="/lnmain/modelform/36/">
                           10</a></td>
                      <td>Detector</td>
                      <td>Det8B</td>
                      <td>Enable</td>
                    </tr>
                
              
                
                    <tr align="center">
                      <td> <a href="/lnmain/modelform/37/">
                           11</a></td>
                      <td>Detector</td>
                      <td>Aux1B</td>
                      <td>Disable</td>
                    </tr>
                
              
                
                    <tr align="center">
                      <td> <a href="/lnmain/modelform/38/">
                           12</a></td>
                      <td>Detector</td>
                      <td>Aux2B</td>
                      <td>Disable</td>
                    </tr>
                
              
                
             
             </tbody>
           </table>
           </div>
           <br>
        
        </ul>
    
 
 
 
        </div>
      </div>

    </div>

    <script>
        var $jQ = jQuery.noConflict();
        // $jQ is now an alias to the jQuery function; creating the new alias is optional.
        $jQ( "a" ).addClass( "test" );
    </script>

    </body>
</html>
